{% extends "bootstrap_responsive.html" %}
{% block title %}
  Server Monitor
{% endblock%}
{% block style %}
	{{super()}}
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
{% endblock %}
{% block body_content %}

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">Server Monitor</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li id="nav_home" class="active"><a href="/">Home</a></li>
              <li id="nav_about"><a href="/about/">About</a></li>
            </ul>
			<ul class="nav pull-right">
				{% if not current_user.is_anonymous()  %}
					<li><a href="/project/create/">Create Project</a></li>
					<li><a href="/logout/">Logout</a></li>
				{% endif %}
			</ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">

		{% for category,message in get_flashed_messages(True) %}
		<div class="alert alert-{{category }}">
			<!-- <button type="button" class="close" data-dismiss="alert">&times;</button> -->
				{{ message }}
		</div>
		{% endfor %}
		{% block wrapper_content%}
		{% endblock %}
		<br/><br/>
    </div>
{% endblock %}
{% block bootstrap_js_bottom %}
<script type="text/javascript" src={{ url_for('static',filename='jquery-1.9.1.min.js') }}></script>
{% endblock %}
