{% extends "base.html" %}
{% block wrapper_content%}
<div class="row">
	<div class="span8">
	<h1>Project List</h1><hr/>
		<table class="table table-bordered table-striped">
			<tr><td>Name</td><td></td></tr>
			{% for p in projects %}
			<tr>
				<td>{{ p.name }}</td>
				<td><a class="btn btn-info" href="/project/{{ p.appkey }}"><i class="icon-info-sign icon-white"></i> Watch</a></td>
			</tr>
			{% endfor %}
		</table>
	</div>
	<div class="span4">
		<div class="side_block">
			<h2>Recent Message</h2>
			<ul>
				{% for msg in messages %}
					<li>
					<i class="icon-hand-right"></i>
					<span>&nbsp;&nbsp;[{{ msg.project_name }}] </span>
					<span style="color:#666;">({{ msg.date_creation.strftime("%Y-%m-%d %H:%M:%S") }})</span>
					<br/>
					消息：{{ msg.msg_title }}				
					</li>
				{% endfor %}
			</ul>
		<div>
	</div>
</div>
{% endblock %}
