{% extends "base.html" %}
{% block wrapper_content %}
<div class="row">
	<h1 style="float:left">{{p.name}}</h1>
	<span style="float:right;margin-top:10px;margin-right:60px;"><a class="btn btn-info" href="/project/config">Setting</a></span>
</div>
<div style="clear:both"></div>
<div class="row">
	<table class="table">
		<tr><td colspan="3" style="font-weight:bold;font-size:1.3em;">Log Message List:</td></tr>
		{% for msg in messages %}
		<tr>
			<td width="20">{{ loop.index }}</td>
			<td width="140">{{ msg.date_creation.strftime("%Y-%m-%d %H:%M:%S") }}</td>
			<td>{{ msg.message }}</td>
		</tr>
		{% endfor %}
	</table>
</div>
{% endblock %}
